@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.toggle-title{
  display:flex;
  align-items: center;
  justify-content:space-around;
}
.card{
  height: 100%;
}
.img{
  width: 100%;
  height:200px;
  
}
.dark-mode{
  background-color:black;
  color:white;
  transition:all 0.5s ease-in-out;

}
.btn{
  border: none;
  outline: none;
}
.btn:hover{
  background-color:black;
  
}


@media only screen and (max-width:600px){
  .books{
    display:flex;
    flex-direction: column
  }
  .books-title{
    font-size:20px;
  }
  .btn{
    padding:0;
  }
  .toggle-title{
    display:flex;
    align-items: center;
    justify-content: space-between;

  }
}


